*     {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}
body  {
  background: url("https://3.bp.blogspot.com/--VLY8JSBNoQ/Wbg52x0vUhI/AAAAAAAAHCo/W40RdlJcfXIEyXDlBHXuooC7rIk04_ovgCLcBGAs/s1600/80.jpg") no-repeat;
  background-size: cover;
}
h1  {
  color: purple;
}